:root{
    --bg: #0c1011;
    --fg: #BCCEC8;
    --ite: #eb6c64;
    --edu: #eb6c64;
    --svg: invert(100%) sepia(0%) saturate(7449%) hue-rotate(165deg) brightness(117%) contrast(97%);
}
body{
    display: grid;
    grid-template-columns: 1fr;
}
#photo {
    border-radius: 50%;
    border: 5px solid var(--ite);
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    margin-top: 9em;
}
#name {
    font-size: 60px;
    text-align: center;
}
.hab-svg{
    filter: var(--svg)
}
#body {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#inf {
    font-size: 28px;
    text-align: justify;
}
#hab{
    list-style-type: none;
    text-align: center;
}
.item {
    margin-top: 15px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    font-size: 32px;
    background-color: var(--ite);
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
#edu {
    font-size: 22px;
    background-color: var(--edu);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
li {
    list-style-type: none;
}
.li-edu {
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%;
}