body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff8ea;
}
.center {
    text-align: center;
}
#photo {
    text-align: center;
}
#name {
    font-size: 60px;
}
#contact {
    width: 100%;
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 18%;
    padding-left: 18%;
    align-items: center;
}
.td-right {
    text-align: left;
}
.td-left {
    text-align: right;
}
#body {
    padding-left: 10%;
    padding-right: 10%;
}
#inf {
    font-size: 28px;
    text-align: justify;
}
.item {
    margin-top: 15px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    font-size: 32px;
    background-color: #ffdc9e;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
#edu {
    font-size: 22px;
    background-color: #b58a1b;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.list {
    list-style-type: none;
    font-size: 22px;
}
.li-edu {
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%;
}
a:link {
    text-decoration: none;
    color: #000;
}
a:visited {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
}
a:active {
    text-decoration: none;
    color: #000;
}